@page "/"

<h1>太極 社大一  </h1>
<style>
    video {
        max-width: 100%;
        height: auto;
    }
</style>
@*<video width="320" height="240" controls>*@
    <video  controls>

        <source src="set1and2.mp4" type="video/mp4">
        @*  <source src="movie.ogg" type="video/ogg">*@
        Your browser does not support the video tag.
    </video>


<h4> 【01 太極初勢】</h4>
<ol>
    <li> 兩手掌心轉朝背後，虎口打開，手指自然伸展，大拇指輕觸大腿，膝蓋微屈，身體放鬆下沉。 </li>
</ol>

<h4> 【02 金剛搗碓】</h4>
<ol>
    <li> 兩手平舉，與肩同高。 </li>
    <li> 腰向右轉，身體下沉，右腳掌向右打開45度，重心由左腳漸移到右腳，兩手掌心朝右。 </li>
    <li> 重心落至右腳，左腳以腳跟內側貼地，向前跨出一步。 </li>
    <li> 兩手掌順時針畫圈，左手向前伸，右手移到大腿右側，重心漸漸移到左腳成弓步，身體轉正，右腳掌內扣。 </li>
    <li> 右腳跟住右手，前移，虛點於左腳旁，與肩同寬，左手收回搭在右手肘關節處。 </li>
    <li> 右手右腳提起，下落，右腳震地出聲，平踩於左腳旁，與肩同寬，右手握拳落於左手掌上。 </li>
</ol>

<h4> 【03 攬扎衣】</h4>
<ol>
    <li> 右拳變掌，兩手交錯。 </li>
    <li> 右手上，左手下，畫圈分開。 </li>
    <li> 兩手繼續畫圈，交叉於胸腹前，重心移落左腳。 </li>
    <li> 右腳以腳跟內側貼地，向右橫鏟一步，腳尖翹起。 </li>
    <li> 重心右移，腰向右轉，右手向外伸展，掌心向上，左手拉回左腰側，左腳掌內扣。 </li>
    <li> 身體轉正，左手插腰，右手掌心轉向前方。 </li>
</ol>

<h4> 【04 六封四閉 - 單鞭】</h4>
<ol>
    <li> （六封四閉）腰向右轉, 左手掌推至右手掌旁。右手掌逆纒，掌手轉朝外。 </li>
    <li> 腰向左轉，左腳打開，扣右腳掌，兩手推向左方，弓左腿。 </li>
    <li> 腰向右轉，兩手掌拉近雙耳旁。右腳掌打開，扣左腳, 雙手下按，虎口打開相對略偏右, 左腳收回虛點於右腳旁，腳跟踮高。 </li>
    <li> （單鞭）腰向左轉，兩手掌心，漸轉朝上。 </li>
    <li> 腰向右轉，右手掌心至右胸前。 </li>
    <li> 身轉正，右手成鈎，向右推出，左手肘向左拉開。 </li>
    <li> 重心落右腳，左腳以腳跟內側向左貼地彈出，腳尖翹起。 </li>
    <li> 重心移至左腳，腰向左轉，扣右腳，成左弓步。左手向左側伸展，掌手朝上。 </li>
    <li> 腰轉正，左手掌心轉朝前。 </li>
</ol>

<h4> 【05 金剛搗碓】</h4>
<ol>
    <li> 腰向左轉，右鉤手變掌，落下再上提至左掌旁。 </li>
    <li> 兩手一起順時鍾，向右捊，重心落於右腳，腰轉朝右。 </li>
    <li> 腰向左轉，左腳掌打開，左手掌順圈，經下向左前伸展，右手掌移落至右大腿旁，右腳掌內扣。 </li>
    <li> 重心落左腳，右手領右腳，向前虛點於左腳旁，與肩同寬，左手掌收回搭於左手肘關節處。 </li>
    <li> 右手握拳，領右腳提起，震腳，平踩於左腳旁，與肩同寬，左手掌托住右拳，置於小腹前。 </li>
</ol>

<h4> 【06 白鵝亮翅】</h4>
<ol>
    <li> 腰向左轉，右拳變掌，兩手交叉，重心偏於左腳。 </li>
    <li> 腰向右轉，兩手右上左下劃弧分開，重心偏於右腳。 </li>
    <li> 腰再向左重心落於左腳，兩手順勢交叉，左手掌搭於右手腕關節上。 </li>
    <li> 右腳向前，跨出一步，重心前移，兩手向前擠出。 </li>
    <li> 左腳上一步虛點於右腳旁，左手下按置於左大腿旁，右手上掤於前額頭上方。 </li>
</ol>

<h4> 【07 斜行】</h4>
<ol>
    <li> 腰向左轉，右手下切，左手外繞拉高。 </li>
    <li> 腰向右轉，右手掌下落，順纒開於右膝外側，右腳掌擺開。 </li>
    <li> 重心落右腳，左腳以腳跟內側，向左前鏟出一步。 </li>
    <li> 左手掌下切，右手掌外繞拉高，腰向左轉，重心左移成弓步，扣右腳掌。左手掌畫弧，經左膝蓋逐漸拉到左側成勾手，右手掌貼近右耳旁。 </li>
    <li> 腰向右轉，右手掌隨腰向右方逆纒展開，掌心朝右。 </li>
    <li> 身轉正，右手掌心轉回朝前。 </li>
</ol>

<h4> 【08 初收 - 摟膝拗步】</h4>
<ol>
    <li> （初收）腰向左轉，重心落於左腳，兩手雙順纏落於左膝上方，掌心朝上對稱。 </li>
    <li> 重心移至右腳，左腳收回，虛點於前 </li>
    <li> 右腳落實，左膝隨左掌提起，兩手掌置於胸腹前。 </li>
    <li> （摟膝拗步）左腳跟落地，雙手掌隨勢下切。 </li>
    <li> 腰向右轉，右腳掌打開，雙手掌隨勢順纏，雙開置於兩膝蓋外側。 </li>
    <li> 雙手掌逆纒，於兩膝蓋前做摟膝狀。 </li>
    <li> 身向左轉，重心漸落左腳。左腳掌隨左手掌，向左側順纒打開。 </li>
    <li> 左腳坐實，右手領右腳向前伸出，弓右膝，踏實，左手掌逆纒下按，置於左大腿旁，掌心朝下。 </li>
</ol>

<h4> 【09 斜行】</h4>
<ol>
    <li> 腰略左轉，帶動雙手逆纒，右手拉回，左手外繞拉高。 </li>
    <li> 腰向右轉，重心移落右腳，右腳掌打開，右手經胸前下切，外開置於右膝蓋旁，左腳隨腰提點於右腳旁，左手掌劃弧至胸前，手刀朝前。 </li>
    <li> 重心落右腳，左腳以腳跟內側，向左前鏟出一步。 </li>
    <li> 左手掌下切，右手掌外繞拉高，腰向左轉，重心左移成弓步，扣右腳掌。左手掌畫弧，經左膝蓋逐漸拉到左側成勾手，右手掌貼近右耳旁。 </li>
    <li> 腰向右轉，右手掌隨腰向右方逆纒展開，掌心朝右。 </li>
    <li> 身轉正，右手掌心轉回朝前。 </li>
</ol>

<h4> 【10 再收 - 摟膝拗步（全部同08）】</h4>
<ol>
    <li> （初收）腰向左轉，重心落於左腳，兩手雙順纏落於左膝上方，掌心朝上對稱。 </li>
    <li> 重心移至右腳，左腳收回，虛點於前 </li>
    <li> 右腳落實，左膝隨左掌提起，兩手掌置於胸腹前。 </li>
    <li> （摟膝拗步）左腳跟落地，雙手掌隨勢下切。 </li>
    <li> 腰向右轉，右腳掌打開，雙手掌隨勢順纏，雙開置於兩膝蓋外側。 </li>
    <li> 雙手掌逆纒，於兩膝蓋前做摟膝狀。 </li>
    <li> 身向左轉，重心漸落左腳。左腳掌隨左手掌，向左側順纒打開。 </li>
    <li> 左腳坐實，右手領右腳向前伸出，弓右膝，踏實，左手掌逆纒下按，置於左大腿旁，掌心朝下。 </li>
</ol>

<h4> 【11 演手肱拳】</h4>
<ol>
    <li> 身體稍微前移，右手再往前伸，左手再略微下按。 </li>
    <li> 腰向左轉，領兩手逆纏全繞，右手拉回胸前，左手外繞至左前方。 </li>
    <li> 身體右轉，右腳掌打開，重心移至右腳，左腳隨勢虛點於右腳旁，雙手順纏交叉於胸前，掌心朝內。 </li>
    <li> 右腳坐實，左腳以腳跟內側，向左前方鏟出。 </li>
    <li> 腰向右旋，重心漸往左腳移去，兩手分向兩側撥開，右手繞到右腰旁，準備握拳，左手隨勢向前推去。 </li>
    <li> 扭腰扣腳身轉正，右拳向前方發勁送出，高與肩平，左手肘向後發勁拉回，左手置於腰際。 </li>
</ol>

<h4> 【12 金剛搗碓】</h4>
<ol>
    <li> 左手掌向前伸出，置於右拳下方。 </li>
    <li> 腰向右轉右腳掌打開，重心漸漸移落右腳，兩手右上左下分開。 </li>
    <li> 腰繼續向右轉，扣左腳掌，左手掌在大腿側，逆纒旋轉。 </li>
    <li> 重心移落左腳，坐實，右腳收回，虛點於左腳側，兩手順勢收回，左手掌搭於右手肘關節處。 </li>
    <li> 右手領右腳提起，落下震腳，姿勢與前面金剛搗碓完成式相同。 </li>
</ol>